<% if params[:category].present? %>
	<h1><%= params[:category] %> </h1> <br/>
<% end -%>


<div class="row">
<% @plays.each do |play| %>
	<% if params[:category] == play.category.name %>
		
			<div class="col-md-4">
				<a href="/plays/<%= play.id %>">
					<img src="<%= play.play_img %>" class="play">
				</a>
			</div>
	<%elsif params[:category] == nil %>
			<div class="col-md-4">
				<a href="/plays/<%= play.id %>">
					<img src="<%= play.play_img %>" class="play">
				</a>			
			</div>
	<% end %>
<% end %>
</div>


