<div class="row">
	<div class="col-md-4">
		<img src="<%= @play.play_img %>" class="play-show">
	</div>

	<div class="class-info">
		<h2 class="play-title"><%=@play.title %></h2> 
		<h3 class="play-director"><span><em>From  </em>:</span> <%= @play.director %> </h3>
		<h4 class="play-category"><%= @play.category.name %> </h4>
		<p class="play-desc"><%= @play.description %> </p>
	</div>
</div>

<div class="links btn-group">
		<%= link_to "Back", plays_path, class: 'btn btn-custom' %> 
		<% if user_signed_in? && @play.user_id == current_user.id %>
			 <%= link_to "Edit", edit_play_path(@play.id), class: 'btn btn-custom' %> 
			  <%= link_to "Delete", play_path(@play.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-custom' %>
		<% end  %>
</div>



